@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.grant p {
  @apply lg:text-lg text-base;
}

.grant li {
  @apply lg:text-lg text-base;
}

.grant a {
  @apply text-[#17365d] hover:underline no-underline text-sm sm:text-base
}